
<div id='main-content'>
  <h1><%= @project.name %></h1>

    <% if @submitted %>
      Thanks for the bug report!
    <% end %>

    <form action="<%= url("/project/#{@project.id}/bug") %>" method="post">
      <label for="submitter_name">Your Name</label><br />
      <input id="submitter_name" name="submitter_name" type="text" value="<%= @requester %>/><br />
      <label for="title">Bug Title</label><br />
      <input id="title" name="title" type="text" /><br />
      <label for="description">Bug Description</label><br />
      <textarea id="description" name="description" cols="80" rows="10"></textarea><br />
      <input type="submit" />
    </form>

</div>
