th, td {
    border:1px solid gray;
}

th.developer, td.developer {
    width:175px;
}

th.state, td.state {
    width:250px;
}

td.unstarted, th.unstarted {
    background-color: lightgray;
}

td.rejected, th.rejected {
    background-color: lightgray;
}

td.started, th.started {
    background-color: khaki;
}

td.finished, th.finished {
    background-color: khaki;
}

td.delivered, th.delivered {
    background-color: darkseagreen;
}

div.card {
    width:240px;
    margin:5px;
    padding: 2px;
    border: 1px solid black;
    background-color: #eee;
    padding-left:2px;
    padding-right:2px;
}

.card .type {
    font-size: smaller;
    color: lightgray;
    float: right;
    padding: 2px;
    margin-left: 5px;
    background-color: gray;
}

.type .feature {
    color: khaki;
}

.type .bug {
    color: lightcoral;
}

td.developer {
    vertical-align: top;
}

.dev .name {
    font-size: large;
}

.nextstate {
    float:right;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

