#main-content {
    margin: auto;
    width:1250px;
}

table#swimlanes {
    border-spacing: 4px;
    border-collapse: separate;
    margin-top: 40px;
}

th {
    background-color: transparent;
    font-size: 24px;
    font-weight: normal;
}

th.developer, td.developer {
    width:175px;
}

th.state, td.state {
    width:250px;
    vertical-align: top;
}

td.unstarted {
    background-color: lightgray;
}

td.rejected {
    background-color: lightgray;
}

td.started {
    background-color: khaki;
}

td.finished {
    background-color: #6B93B5;
}

td.delivered {
    background-color: darkseagreen;
}

div.card {
    width:240px;
    margin:5px;
    padding: 8px;
    border: 1px solid #CCC;
    background-color: #eee;
}

div.card a {
    color: #666;
}

div.card form {
    margin: 0px;
}

p.story-title {
    margin-bottom: 12px;
}

.card .type {
    font-size: smaller;
    color: lightgray;
    float: left;
}

.type .feature {
    background-color: khaki;
    color: #666;
}

.type .bug {
    background-color: lightcoral;
}

td.developer {
    vertical-align: top;
}

.dev .name {
    font-size: large;
}

.nextstate {
    float:right;
}

img.gravatar {
    width: 80px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

